
::deep .category-tag:hover {
    cursor: pointer;
}

::deep.content {
    margin: 0 auto;
    padding: 1rem;
    overflow-wrap: break-word;
}

    ::deep.content ul,
    ::deep.content ol {
        padding-left: 1.5em !important;
        margin: 0 0 1em 0 !important;
    }

    ::deep.content ul {
        list-style-type: disc !important;
        list-style-position: outside !important;
    }

    ::deep.content ol {
        list-style-type: decimal !important;
        list-style-position: outside !important;
    }

    ::deep .content ul,
    ::deep .content ol {
        padding-left: 1.5em !important;
        margin: 0 0 1em 0 !important;
    }

    ::deep .content ul {
        list-style-type: disc !important;
        list-style-position: outside !important;
    }

    ::deep .content ol {
        list-style-type: decimal !important;
        list-style-position: outside !important;
    }

.reading-progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
}



::deep img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.reading-progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
}


/* Code Block */

::deep .code-block-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
}

::deep pre[class*="language-"],
::deep pre {
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-x: hidden !important;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px 12px;
    margin: 0;
}



::deep code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    display: block;
    width: 100%;
}

::deep .copy-code-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10 !important;
    border: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 8px !important;
    border-top-right-radius: 0 !important;
}
