
.code-block-wrapper {
    position: relative;
}

pre {
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}


code {
    padding: 8px 0;
}

.copy-code-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10 !important;
    border: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 8px !important;
    border-top-right-radius: 0 !important;
}
